h1, h2 {
  color: blue;
}
  
p {
  color: gray;
}
  
ul {
  border: 2px solid yellow;
}
  
ol {
  border: 2px solid blue;
}
  
ol, ul {
  padding: 10px 20px;
  border-radius: 4px;
}
  
h1, strong {
  color: blue;
}
 
em {
  color: green;
}